@import "../../config";

/////////////////////////////////////
// style sheet is cleaned for IE11 //
// (remove after all sheets clean) //
/////////////////////////////////////

#scroll-button {
  background: none;
  border: none;
  color: $webpage--text-color;
  cursor: pointer;
  margin: 5vh 0;

  div {
    font-family: "Roboto", sans-serif;
    font-size: 2.25em;
    transition: transform 100ms;

    &.hover {
      transform: translateY(5px)
    }

  }

  &:active {
    transform: translateY(4px)
  }
}

@media only
screen and (max-height: 675px),
screen and (max-width: 885px) {
  #scroll-button {
    font-size: 1.8vmin;
  }
}
