@use "@/styles/variables.module" as *;

.about-button {
  background: none;
  border: none;
  color: $about-button-arrow-svg-text-color;
  cursor: pointer;
  font-family: $body-font-family;
  font-size: 2em;
  margin: 5vh 0;
  transition: opacity $about-button-transition-duration-initialize;

  svg {
    fill: $about-button-arrow-svg-text-color;
    height: 1em;
    transition: transform $about-button-arrow-transition-duration, opacity $about-button-arrow-transition-duration;
  }

  &:active {
    transform: translateY($about-button-translate-amount-click-depress);
  }

  &.hidden {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }
}

// shrink content to fit screen

@media only screen and (height <= 675px), screen and (width <= 885px) {
  .about-button {
    font-size: 3.75vmin;
  }
}

// portrait orientation

@media only screen and (width <= 610px) {
  .about-button {
    font-size: 5vmin;
  }
}
