@use "../../styles/variables.module";

.about {
  background: none;
  border: none;
  color: variables.$about-button-arrow-svg-text-color;
  cursor: pointer;
  font-family: variables.$body-font-family;
  font-size: 2em;
  margin: 5vh 0;
  opacity: 1;
  transition: opacity variables.$about-button-initialize-speed;

  svg {
    fill: variables.$about-button-arrow-svg-text-color;
    height: 1em;
    transition: transform variables.$about-button-arrow-transition-speed, opacity variables.$about-button-arrow-transition-speed;
  }

  &.hidden {
    opacity: 0;
  }

  &:active {
    transform: translateY(variables.$about-button-press-distance);
  }
}
