@use '../CodeWindow.module' as *; // todo: lower configs to sub components!

// config
$line-number-size: $code-block-size * 0.45;

// computed
$line-number-horizontal-margin: calc($sidebar-width / 2) - calc($line-number-size / 2) -
  calc($border-width / 2);
$line-number-vertical-margin: calc($code-block-size / 2) - calc($line-number-size / 2);

.codeLine {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  padding: $code-line-space 0;

  &:last-of-type {
    margin-top: ($code-line-space);
  }

  &:active {
    transform: translateY(0.09375em);
  }

  > div {
    transition: background-color 25ms, border-color 25ms, box-shadow 25ms;
  }

  > div:nth-child(2) {
    margin-left: $line-number-horizontal-margin;
  }
}

.lineNumber {
  border-radius: 100%;
  background-color: #888888;
  height: $line-number-size;
  margin: $line-number-vertical-margin $line-number-horizontal-margin;
  width: $line-number-size;

  &.clicked {
    background-color: #ee4b2b;
    box-shadow: 0 0 0.5em #ee4b2b15;
    transition: background-color 50ms, box-shadow 50ms;
  }

  &.hovered {
    background-color: #d4d4d4;
    box-shadow: 0 0 0.5em #d4d4d415;
  }
}
