html,
body,
#root {
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #18191A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #D4D4D4;
  padding: 0 1.5em;
}

.flex-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.viewport-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app-section {
  background-color: #202020;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 100%;
  width: 50em;
}

#app-section a {
  text-decoration: none;
}

#app-section a:hover {
  text-decoration: underline;
}

#app-section .flex-wrapper {
  padding: 1.125em 2.25em;
}

#app-section .flex-wrapper:nth-child(1) {
  padding-top: 2.25em;
}

#app-section .flex-wrapper:nth-child(2) {
  padding-bottom: 2.25em;
}

#app-section .flex-wrapper > img {
  background-color: #18191A;
  border-radius: 100%;
  border: 0.33em solid #18191A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 8em;
  margin-right: 1.125em;
  pointer-events: none;
}

#app-section .flex-wrapper > p {
  font-size: 1.5em;
  margin: 0 0 0 1.125em;
  width: 100%;
}

#app-section .flex-wrapper > p > a {
  color: #CE9178;
}

#app-section .flex-wrapper > p > img {
  height: 1.125em;
  margin: 0 0.05em;
  pointer-events: none;
  vertical-align: top;
}

#app-footer {
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#app-footer a:hover {
  text-decoration: none;
}

#app-footer a,
#app-footer button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #161616;
  border: none;
  color: #D4D4D4;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  min-width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#app-footer a:active,
#app-footer button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#app-footer a:hover,
#app-footer button:hover {
  background-color: #101010;
}

#app-footer a > img,
#app-footer button > img {
  height: 1em;
  margin-right: 0.5em;
  width: 1em;
}

@media only screen and (max-height: 675px), screen and (max-width: 885px) {
  body {
    padding: 0 1.8vw;
  }
  #app-footer {
    font-size: 1.8vmin;
  }
  #app-section {
    font-size: 1.8vmin;
  }
}

@media only screen and (max-width: 610px) {
  #app-section .flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.375em;
  }
  #app-section .flex-wrapper > img {
    margin-right: 0;
    margin-bottom: 1.125em;
  }
  #app-section .flex-wrapper > p {
    margin: 0 auto;
  }
  #app-section #app-footer {
    font-size: 1.375em;
  }
}
/*# sourceMappingURL=App.css.map */