@use "../styles/variables.module";

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.dimmer {
  background-color: rgba(8, 8, 8, 0.25);
  // background-color: rgba(0, 0, 0, 0.274);
  height: 100vh;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

// shrink content to fit screen

@media only screen and (height <= 675px), screen and (width <= 885px) {
  .wrapper {
    font-size: 1.8vmin;
  }
}

// portrait orientation

@media only screen and (width <= 610px) {
  .wrapper > button {
    font-size: 2.75em;
  }
}
