@use "../../styles/variables.module";

.wrapper {
  display: inline-block;
  position: relative;

  &:active {
    transform: translateY(variables.$hover-tooltip-translate-amount-click-depress)
  }
}

.tooltip {
  align-items: center;
  background: variables.$hover-tooltip-background-color;
  border-radius: variables.$hover-tooltip-border-radius;
  bottom: 100%;
  box-shadow: 0 0.2em 0.5em rgba(variables.$hover-tooltip-background-color, 0.1);
  color: variables.$body-color-text;
  display: flex;
  font-size: 0.85em;
  gap: 0.2em;
  margin-bottom: 0.2675em;
  opacity: 1;
  padding: 0.1em .3em;
  pointer-events: none;
  position: absolute;
  transform-origin: bottom center;
  transform: translateY(0);
  transition: opacity variables.$hover-tooltip-animation-duration-hover, transform variables.$hover-tooltip-animation-duration-hover;
  white-space: nowrap;
  z-index: 1;

  &::after {
    border-color: #131313 transparent transparent;
    border-style: solid;
    border-width: 0.25em;
    content: "";
    left: 0.85em;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
  }

  img {
    max-height: 1em;
    max-width: 1em;
  }

  &.hidden {
    opacity: 0;
    transform: translateY(0.25em);
  }
}
