.aspect-ratio-wrapper {
  background-color: #1E1E1E;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 5vh 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 50em;
}

.aspect-ratio-wrapper::before {
  background: #333333;
  border-radius: 0.15em 0 0 0.15em;
  content: '';
  float: left;
  padding-top: 56.25%;
  width: 2.5em;
}

.aspect-ratio-wrapper #animator-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.aspect-ratio-wrapper #animator-wrapper:hover #animator-name {
  opacity: 0;
}

.aspect-ratio-wrapper #animator-wrapper #animator-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3C3C3C;
  border-radius: 0.15em 0.15em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 2.25em;
  padding: 0 0.25em;
}

.aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(1) {
  background-color: #0078D7;
  border-radius: 0.15em;
  display: inline-block;
  height: 0.95em;
  margin: 0 0.65em;
  width: 0.95em;
}

.aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(1):hover {
  background-color: #3eaaff;
  -webkit-box-shadow: 0 0 0.5em rgba(62, 170, 255, 0.15);
          box-shadow: 0 0 0.5em rgba(62, 170, 255, 0.15);
}

.aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(2), .aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(3), .aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(4) {
  border-radius: 100%;
  height: 0.95em;
  margin: 0 0.25em;
  width: 0.95em;
}

.aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(2) {
  background-color: #498205;
  margin-left: auto;
}

.aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(2):hover {
  background-color: #6ec308;
  -webkit-box-shadow: 0 0 0.5em rgba(110, 195, 8, 0.15);
          box-shadow: 0 0 0.5em rgba(110, 195, 8, 0.15);
}

.aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(3) {
  background-color: #FFB900;
}

.aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(3):hover {
  background-color: #ffd566;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 213, 102, 0.15);
          box-shadow: 0 0 0.5em rgba(255, 213, 102, 0.15);
}

.aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(4) {
  background-color: #DE3249;
}

.aspect-ratio-wrapper #animator-wrapper #animator-title div:nth-child(4):hover {
  background-color: #ec8a97;
  -webkit-box-shadow: 0 0 0.5em rgba(236, 138, 151, 0.15);
          box-shadow: 0 0 0.5em rgba(236, 138, 151, 0.15);
}

.aspect-ratio-wrapper #animator-wrapper #animator-body {
  border-color: #3C3C3C;
  border-style: solid;
  border-width: 0 0.25em;
  height: inherit;
  position: relative;
}

.aspect-ratio-wrapper #animator-wrapper #animator-body #animator-code {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  scrollbar-color: #333333 #18191A;
  top: 0;
  width: 100%;
}

.aspect-ratio-wrapper #animator-wrapper #animator-body #animator-code::before {
  content: "";
  height: 100%;
  min-height: 36%;
  pointer-events: none;
}

.aspect-ratio-wrapper #animator-wrapper #animator-body #animator-code::-webkit-scrollbar {
  width: 1em;
}

.aspect-ratio-wrapper #animator-wrapper #animator-body #animator-code::-webkit-scrollbar-track {
  background: #18191A;
}

.aspect-ratio-wrapper #animator-wrapper #animator-body #animator-code::-webkit-scrollbar-thumb {
  background-color: #333333;
}

.aspect-ratio-wrapper #animator-wrapper #animator-body #animator-code::-webkit-scrollbar-thumb:hover {
  background-color: #4F4F4F;
}

.aspect-ratio-wrapper #animator-wrapper #animator-body #animator-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.075em;
  bottom: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 2.875em;
  height: 1.65em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
  width: 8.95em;
}

.aspect-ratio-wrapper #animator-wrapper #animator-body #animator-name img {
  height: 1.125em;
  margin-right: 0.125em;
  width: 1.125em;
}

.aspect-ratio-wrapper #animator-wrapper #animator-body #animator-name span {
  margin-left: 0.125em;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer {
  background-color: #3C3C3C;
  border-color: #3C3C3C;
  border-radius: 0 0 0.15em 0.15em;
  border-style: solid;
  border-width: 0 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.25em;
  -webkit-transition: background-color 100ms, border-color 100ms, height 100ms;
  transition: background-color 100ms, border-color 100ms, height 100ms;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer.visible {
  background-color: #68217A;
  border-color: #68217A;
  height: 1.5em;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer.visible button {
  visibility: visible;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer.visible button:hover {
  background-color: #461652;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer.visible.debug {
  background-color: #CC6633;
  border-color: #CC6633;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer.visible.debug button:hover {
  background-color: #a35229;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer.visible.pause {
  background-color: #CD2026;
  border-color: #CD2026;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer.visible.pause button:hover {
  background-color: #a1191e;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  color: #D4D4D4;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 2.75em;
  visibility: hidden;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer button img {
  height: 1.2em;
}

.aspect-ratio-wrapper #animator-wrapper #animator-footer button:nth-last-child(2) {
  margin-left: auto;
}

@media only screen and (max-width: 885px) {
  .aspect-ratio-wrapper {
    font-size: 1.8vmin;
  }
}
/*# sourceMappingURL=Animator.css.map */