@import "../config";

#animator-wrapper {
  display: flex;
  flex-direction: column;
  font-size: $modifier--animator-shrink; // todo: change this
  height: $animator--window-scale * 9;
  margin: 5vh 0;
  position: relative;
  width: $animator--window-scale * 16;

  // background color is positioned ::before to not cause minor gaps between elements

  &::before {
    background-color: $animator--window-editor-color;
    border-left: $animator--sidebar-width solid $animator--sidebar-color;
    border-radius: $animator--window-border-radius;
    box-sizing: border-box;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  #animator-title-bar {
    align-items: center;
    background-color: $animator--window-border-color;
    border-radius: $animator--window-border-radius $animator--window-border-radius 0 0;
    box-sizing: border-box;
    display: flex;
    height: $size--animator-title;
    padding: $animator--window-border-size;

    div:nth-child(1) {
      background-color: $animator--title-bar-button-1-color;
      border-radius: $animator--window-border-radius;
      height: $animator--title-bar-button-size;
      margin: 0 (($animator--sidebar-width * 0.5) - ($animator--title-bar-button-size * 0.5) - ($animator--window-border-size * 0.5));
      width: $animator--title-bar-button-size;

      &:hover {
        $color: lighten($animator--title-bar-button-1-color, $animator--title-bar-button-hover-brightness);
        background-color: $color;
        box-shadow: 0 0 0.5em rgba($color, .15);
      }
    }

    div:nth-child(2),
    div:nth-child(3),
    div:nth-child(4) {
      border-radius: 100%;
      height: $animator--title-bar-button-size;
      margin: 0 $animator--window-border-size;
      width: $animator--title-bar-button-size;
    }

    div:nth-child(2) {
      background-color: $animator--title-bar-button-2-color;
      margin-left: auto;

      &:hover {
        $color: lighten($animator--title-bar-button-2-color, $animator--title-bar-button-hover-brightness / 1.5); // green is too bright
        background-color: $color;
        box-shadow: 0 0 0.5em rgba($color, .15);
      }
    }

    div:nth-child(3) {
      background-color: $animator--title-bar-button-3-color;

      &:hover {
        $color: lighten($animator--title-bar-button-3-color, $animator--title-bar-button-hover-brightness);
        background-color: $color;
        box-shadow: 0 0 0.5em rgba($color, .15);
      }
    }

    div:nth-child(4) {
      background-color: $animator--title-bar-button-4-color;

      &:hover {
        $color: lighten($animator--title-bar-button-4-color, $animator--title-bar-button-hover-brightness);
        background-color: $color;
        box-shadow: 0 0 0.5em rgba($color, .15);
      }
    }
  }

  #animator-body {
    align-items: center;
    border-bottom-left-radius: $animator--window-border-radius;
    border-bottom-right-radius: $animator--window-border-radius;
    border-color: $animator--window-border-color;
    border-style: solid;
    border-width: 0 $animator--window-border-size $animator--window-border-size $animator--window-border-size;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: relative;

    &:hover #animator-name {
      opacity: 0.125;
    }

    #animator-name {
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: $animator--window-border-radius / 2;
      display: flex;
      font-family: "Roboto", sans-serif;
      font-size: 2.75em;
      padding: 0.2125em 0.325em;
      pointer-events: none;
      transition: opacity $time--name-fade-speed;
      z-index: 1;

      img {
        height: 1.125em;
        margin-right: 0.125em;
        width: 1.125em;
      }

      span {
        margin-left: 0.125em;
      }
    }

    #animator-code {
      bottom: 0; // IE11
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
      left: 0; // IE11
      overflow-y: scroll;
      position: absolute;
      right: 0; // IE11
      scrollbar-color: $animator--sidebar-color $webpage--background-color; // chrome
      top: 0; // IE11
      width: 100%;

      #animator-spacer {
        height: 100%;
        min-height: 32.75%;
      }

      &::-webkit-scrollbar { width: 1em; }
      &::-webkit-scrollbar-track { background: $webpage--background-color; }
      &::-webkit-scrollbar-thumb { background-color: $animator--sidebar-color; }
      &::-webkit-scrollbar-thumb:hover { background-color: #4F4F4F; }
    }
  }
}
