@import "../config";

.attribute,
.indent,
.operator,
.string,
.tag-name,
.value {
  transition: background-color $code-block--base-color-speed;
  background-color: $code-block--base-color;
  border-radius: $code-block--base-border-radius;
}

.indent {
  background-color: transparent;
}

.attribute,
.indent,
.string,
.tag-name,
.value {
  height: $code-block--base-scale;
  margin: 0 ($code-block--base-scale * $code-block--base-space);
  width: $code-block--base-scale;

  &.size-2 { width: ($code-block--base-scale * 2) + (($code-block--base-scale * $code-block--base-space) * 2); }
  &.size-3 { width: ($code-block--base-scale * 3) + (($code-block--base-scale * $code-block--base-space) * 4); }
  &.size-4 { width: ($code-block--base-scale * 4) + (($code-block--base-scale * $code-block--base-space) * 6); }
  &.size-5 { width: ($code-block--base-scale * 5) + (($code-block--base-scale * $code-block--base-space) * 8); }
}

.operator {
  height: $code-block--base-scale * 0.5;
  margin: ($code-block--base-scale * 0.25) + ($code-block--base-scale * $code-block--base-space);
  width: ($code-block--base-scale * 0.5); // width and margin make 1 block size
}

.angle {
  border-bottom: ($code-block--base-scale * 0.5) solid transparent;
  border-radius: $code-block--base-border-radius;
  border-top: ($code-block--base-scale * 0.5) solid transparent;
  margin: 0 (($code-block--base-scale * 0.125) + ($code-block--base-scale * $code-block--base-space));
  transition: border-color $code-block--base-color-speed;

  &.close { border-left: ($code-block--base-scale * 0.75) solid $code-block--base-color;  }
  &.start { border-right: ($code-block--base-scale * 0.75) solid $code-block--base-color; }
}

.close.angle.color { border-left-color: $code-block--close-angle-color;  }
.start.angle.color { border-right-color: $code-block--start-angle-color; }

.attribute.color   { background-color: $code-block--attribute-color; }
.operator.color    { background-color: $code-block--operator-color;  }
.string.color      { background-color: $code-block--string-color;    }
.tag-name.color    { background-color: $code-block--tag-name-color;  }
.value.color       { background-color: $code-block--value-color;     }