@import "../config";

#description {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 50em;

  article {
    align-items: center;
    background-color: #202020;
    display: flex;
    justify-content: center;
    padding: 1.125em 2.25em;

    &:first-of-type {
      padding-top: 2.25em;
    }

    &:last-of-type {
      padding-bottom: 2.25em;
    }

    a {
      color: $color--site-link;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      border-radius: 100%;
      border: .33em solid #18191a;
      box-sizing: border-box;
      height: 8em;
      margin-right: 2.25em;
      pointer-events: none;
    }
  }

  span {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
  }

  footer {
    display: flex;
    height: 4em;

    a {
      text-decoration: none;
    }

    a,
    button {
      align-items: center;
      background-color: #161616;
      border: none;
      color: #d4d4d4;
      cursor: pointer;
      display: inline-flex;
      font-family: "Roboto", sans-serif;
      font-size: 1.5em;
      height: 100%;
      justify-content: center;
      margin: 0;
      width: 50%;

      &:hover {
        background-color: #121212;
      }

      img {
        filter: invert(80%) sepia(8%) saturate(0%) hue-rotate(86deg) brightness(105%) contrast(100%);
        height: 1em;
        margin-right: 0.5em;
        width: 1em;
      }
    }
  }

  @media screen and (max-width: 700px) {
    article {
      border-radius: 0.25em;
      flex-direction: column;
      padding: 1.25em;

      img {
        margin-bottom: 1.25em;
      }
    }

    article,
    footer {
      font-size: 2.5vw;
    }
  }
}
