@use "../../styles/variables.module";
@use 'sass:color';

.wrapper {
  background-color: #202020;
  border-radius: variables.$code-window-border-radius;
  box-shadow: variables.$code-window-box-shadow;
  display: flex;
  flex-direction: column;
  height: 28.125em;
  margin: 5vh 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 50em;

  &::before {
    background: #333;
    border-left: variables.$code-window-border-width solid #3c3c3c;
    border-radius: variables.$code-window-border-radius 0 0 variables.$code-window-border-radius;
    content: '';
    height: 100%;
    position: absolute;
    width: variables.$code-window-sidebar-width;
  }
}

.title {
  align-items: center;
  background-color: #3c3c3c;
  display: flex;
  flex-shrink: 0;
  height: variables.$code-window-title-bar-height;
  padding: 0 variables.$code-window-border-width;
  z-index: 1;

  div {
    cursor: pointer;
  }

  div:nth-child(1) {
    $background-color: #0078d7;

    background-color: $background-color;
    border-radius: variables.$code-window-border-radius;
    display: inline-block;
    height: variables.$code-window-title-bar-button-size;
    margin: 0 (variables.$code-window-sidebar-width * 0.5 - variables.$code-window-title-bar-button-size * 0.5);
    width: variables.$code-window-title-bar-button-size;

    &:hover {
      $hover-color: color.adjust($background-color, $lightness: calc(variables.$code-window-title-bar-button-hover-brightness / 1.5));

      background-color: $hover-color;
      box-shadow: 0 0 0.5em rgba($hover-color, 0.15);
    }
  }

  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4) {
    border-radius: 100%;
    height: variables.$code-window-title-bar-button-size;
    margin: 0 variables.$code-window-border-width;
    width: variables.$code-window-title-bar-button-size;
  }

  div:nth-child(2) {
    $background-color: #498205;

    background-color: $background-color;
    margin-left: auto;

    &:hover {
      $hover-color: color.adjust($background-color, $lightness: calc(variables.$code-window-title-bar-button-hover-brightness / 1.5));

      background-color: $hover-color;
      box-shadow: 0 0 0.5em rgba($hover-color, 0.15);
    }
  }

  div:nth-child(3) {
    $background-color: #ffb900;

    background-color: $background-color;

    &:hover {
      $hover-color: color.adjust($background-color, $lightness: variables.$code-window-title-bar-button-hover-brightness);

      background-color: $hover-color;
      box-shadow: 0 0 0.5em rgba($hover-color, 0.15);
    }
  }

  div:nth-child(4) {
    $background-color: #de3249;

    background-color: $background-color;

    &:hover {
      $hover-color: color.adjust($background-color, $lightness: variables.$code-window-title-bar-button-hover-brightness);

      background-color: $hover-color;
      box-shadow: 0 0 0.5em rgba($hover-color, 0.15);
    }
  }
}

.body {
  border-color: #3c3c3c;
  border-style: solid;
  border-width: 0 variables.$code-window-border-width;
  height: inherit;
  position: relative;
}

.code {
  box-shadow: rgba(0 0 0 / 6%) 0 0.125em 0.25em 0 inset;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  inset: 0;
  overflow-y: scroll;
  position: absolute;
  scrollbar-color: #18191a; // chrome
  width: 100%;

  &::before {
    // empty padding to stick code to
    // the top of the animator Y axis
    content: '';
    font-size: 1em;
    height: 100%;
    margin-bottom: variables.$code-line-shoulder-space;
    min-height: 5 * (variables.$code-block-size + variables.$code-line-shoulder-space * 2) - 0.1em; // [- val] hack to realign scroll position
    pointer-events: none;
  }

  &::-webkit-scrollbar { width: 1em; }
  &::-webkit-scrollbar-track { background: #18191a; }
  &::-webkit-scrollbar-thumb { background-color: #333; }
  &::-webkit-scrollbar-thumb:hover { background-color: #4f4f4f; }
}

.name {
  align-items: center;
  background-color: rgba(0 0 0 / 50%);
  border-radius: calc(variables.$code-window-border-radius / 2);
  display: flex;
  font-family: variables.$body-font-family;
  font-size: 2.875em;
  height: 1.65em;
  inset: 0;
  justify-content: center;
  margin: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity variables.$code-window-name-transition-duration-hover;
  width: 8.95em;

  &.visible {
    opacity: 1;
  }

  img {
    height: 1.125em;
    margin-right: 0.125em;
    width: 1.125em;
  }

  span {
    margin-left: 0.125em;
  }
}

.footer {
  background-color: #3c3c3c;
  border-color: #3c3c3c;
  border-style: solid;
  border-width: 0 variables.$code-window-border-width;
  height: variables.$code-window-border-width;
  transition:
    background-color variables.$code-window-footer-transition-duration-hover,
    border-color variables.$code-window-footer-transition-duration-hover,
    height variables.$code-window-footer-transition-duration-hover;
  z-index: 1;

  &.visible {
    $background-color: #68217a;

    background-color: $background-color;
    border-color: $background-color;
    height: 1.5em;

    span,
    button {
      visibility: visible;
    }

    button:hover {
      background-color: color.adjust($background-color, $lightness: -10%)
    }

    .tooltip {
      background-color: $background-color;
      &::after { border-top-color: $background-color; }
    }
  }

  &.debug {
    $background-color: #c63;

    background-color: $background-color;
    border-color: $background-color;

    button:hover {
      background-color: color.adjust($background-color, $lightness: -10%)
    }

    .tooltip {
      background-color: $background-color;
      &::after { border-top-color: $background-color; }
    }
  }

  &.pause {
    $background-color: #cd2026;

    background-color: $background-color;
    border-color: $background-color;

    button:hover {
      background-color: color.adjust($background-color, $lightness: -10%)
    }

    .tooltip {
      background-color: $background-color;
      &::after { border-top-color: $background-color; }
    }
  }

  span,
  button {
    align-items: center;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    padding: 0 0.375em;
    visibility: hidden;
    vertical-align: top;
  }

  > span {
    color: #d4d4d4;
    cursor: default;
    font-family: variables.$body-font-family;
    font-size: 0.8em;

    &:nth-last-child(1) {
      float: right;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    min-width: variables.$code-window-sidebar-width;
    position: relative;

    &:active svg {
      transform: translateY(0.0938em);
    }
  }

  svg {
    height: 1em;
    width: auto;
  }
}

.tooltip {
  border-radius: variables.$code-window-border-radius;
  bottom: 150%;
  color: #d4d4d4;
  font-family: variables.$body-font-family;
  font-size: 0.8em;
  padding: 0.675em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: background-color variables.$code-window-footer-tooltip-transition-duration;
  visibility: hidden;
  z-index: 1;

  &::after {
    border-color: transparent;
    border-style: solid;
    border-width: 0.3125em;
    content: '';
    left: 50%;
    margin-left: -0.3125em;
    position: absolute;
    top: 100%;
  }

  button:hover & { visibility: visible; }
  button:active & { transform: translateY(0.0938em); }
}

///////////////////////////////////////////////////////////////////////////////
// #region Animations                                                        //
///////////////////////////////////////////////////////////////////////////////

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  50% {
    opacity: .5;
    transform: scale(1.0275);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade {
  animation: fade-in variables.$code-window-transition-duration-initialize ease-out forwards;
  pointer-events: none;
  opacity: 0;
}

@keyframes shake-x {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-1 * variables.$code-window-shake-animation-translate-amount); }
  50%  { transform: translateX(variables.$code-window-shake-animation-translate-amount); }
  75%  { transform: translateX(-1 * calc(variables.$code-window-shake-animation-translate-amount / 2)); }
  100% { transform: translateX(calc(variables.$code-window-shake-animation-translate-amount / 2)); }
}

@keyframes shake-y {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-1 * variables.$code-window-shake-animation-translate-amount); }
  50%  { transform: translateY(variables.$code-window-shake-animation-translate-amount); }
  75%  { transform: translateY(-1 * calc(variables.$code-window-shake-animation-translate-amount / 2)); }
  100% { transform: translateY(calc(variables.$code-window-shake-animation-translate-amount / 2)); }
}

.shakenX {
  animation: shake-x variables.$code-window-shake-animation-duration ease-in-out;
}

.shakenY {
  animation: shake-y variables.$code-window-shake-animation-duration ease-in-out;
}

///////////////////////////////////////////////////////////////////////////////
// #endregion Animations                                                     //
///////////////////////////////////////////////////////////////////////////////
