@use "../../styles/variables.module";
@use 'sass:color';

.fixed-wrapper {
  align-items: center;
  background: rgb(0 0 0 / 75%);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 2em; // TODO: body variable
  position: fixed;
  transition: opacity variables.$redirect-popup-transition-duration-fade-in;
  width: 100%;
  z-index: 100000;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  &.invisible {
    opacity: 0;
    pointer-events: none;
  }

  .window-wrapper {
    background: variables.$body-color-section;
    border-color: #3c3c3c;
    border-radius: variables.$base-border-radius;
    border-style: solid;
    border-width: 0 variables.$code-window-border-width variables.$code-window-border-width variables.$code-window-border-width;
    box-shadow: variables.$base-box-shadow;
    box-sizing: border-box;
    transition: opacity variables.$redirect-popup-transition-duration-fade-in, transform variables.$redirect-popup-transition-duration-fade-in;
    width: 42.5em;

    button {
      border-radius: variables.$base-border-radius;
      border: none;
      box-shadow: variables.$base-box-shadow;
      color: variables.$body-color-text;
      cursor: pointer;
      font-family: variables.$body-font-family;
      font-size: 1em;
      padding: 0.25em 0.5em;
      user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
    }

    img, svg {
      height: 1.2em;
      pointer-events: none;
      user-select: none;
      vertical-align: text-bottom;
      -ms-user-select: none;
      -webkit-user-select: none;
    }

    &.visible {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
    }

    &.invisible {
      opacity: 0;
      pointer-events: none;
      transform: scale(.95);
    }

    .window-title {
      align-items: center;
      background-color: #3c3c3c;
      display: flex;
      height: variables.$code-window-title-bar-height;
      padding: 0 variables.$code-window-border-width;
      z-index: 1;

      div {
        box-shadow: variables.$base-box-shadow;
      }

      // Title bar window icon
      > div:nth-child(1) {
        animation: scroll-gradient 2s linear infinite;
        background: linear-gradient(90deg, #282828 25%, #444 50%, #282828 75%);
        background-size: 200% 100%;
        border-radius: 0.125em;
        height: 0.5em;
        width: 12.5em;
      }

      // Title bar close button
      > div:nth-child(2) {
        background-color: #de3249;
        border-radius: 100%;
        cursor: pointer;
        height: variables.$code-window-title-bar-button-size;
        margin-left: auto;
        width: variables.$code-window-title-bar-button-size;

        &:hover {
          $hover-color: color.adjust(#de3249, $lightness: variables.$code-window-title-bar-button-hover-brightness);

          background-color: $hover-color;
          box-shadow: 0 0 0.5em rgba($hover-color, 0.15);
        }
      }
    }

    .window-body {
      display: flex;
      flex-direction: column;
      gap: 0.75em;
      padding: 1.675em;
      box-shadow:
        inset 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.15),
        inset -0.05em -0.05em 0.1em rgba(255, 255, 255, 0.01);

      span {
        background: #131313;
        border-radius: .15em;
        display: inline-block;
        padding: 0.1em .3em;
        text-decoration: none;
      }

      .window-body-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 1.25em;
        font-weight: bold;
        gap: 0.5em;

        img {
          height: 1em;
        }
      }

      .window-body-row {
        // "Thanks for visiting! ..."
        &:nth-child(4) {
          gap: 0.25em;
          margin-top: 1em;
        }

        a {
          background: #131313;
          border-radius: variables.$base-border-radius;
          box-shadow: variables.$base-box-shadow;
          color: variables.$body-color-link; // TODO: visited color!
          display: inline-block;
          padding: 0.1em .3em; // TODO: same as section links?
          text-decoration: none;
          word-break: break-all;

          &:active {
            transform: translateY(variables.$code-window-footer-translate-amount-click-depress);
          }
        }

        button {
          align-items: center;
          color: variables.$body-color-text;
          display: flex;
          gap: 0.25em;

          img {
            height: 1em;
          }

          &.enabled {
            background: #3c3c3c;
            cursor: pointer;

            &:active {
              transform: translateY(variables.$code-window-footer-translate-amount-click-depress);
            }

            &:hover {
              background: #303030;
            }
          }

          &.disabled {
            background: #303030;
            cursor: default;
          }
        }
      }

      .button-row {
        display: flex;
        gap: 1em;

        > button {
          flex: 1;
          text-align: center;

          &:active {
            transform: translateY(variables.$code-window-footer-translate-amount-click-depress);
          }

          &:nth-child(1) {
            // background: #3c3c3c;
            background: #008000; // Web safe green https://encycolorpedia.com/008000;

            &:hover {
              background: #0a5c0a;
            }
          }

          &:nth-child(2) {
            background: #da2c43; // #de3249;

            &:hover {
              background: #9d1c2d;
            }
          }
        }
      }
    }
  }
}

// portrait orientation

@media only screen and (width <= 610px) {
  .fixed-wrapper {
    font-size: 1.8vmin;

    .window-wrapper {
      font-size: 1.875em;
      width: 100%;

      .window-body .window-body-header {
        gap: 0.8em;
        margin-right: 0.5em;
      }

      .window-body .window-body-header img {
        height: 2em;
      }

      .button-row {
        flex-direction: column;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// #region Animations                                                        //
///////////////////////////////////////////////////////////////////////////////

@keyframes scroll-gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: -100% 0%;
  }

  100% {
    background-position: -200% 0%;
  }
}

///////////////////////////////////////////////////////////////////////////////
// #endregion Animations                                                     //
///////////////////////////////////////////////////////////////////////////////
