$color--animator-sidebar: #333333;
$color--animator-title-close-hover-shadow: #FF605C15;
$color--animator-title-close-hover: #FF605C;
$color--animator-title-close: #de3249;
$color--animator-title-max-hover-shadow: #00CA4E15;
$color--animator-title-max-hover: #00CA4E;
$color--animator-title-max: #498205;
$color--animator-title-min-hover-shadow: #ffdd4d15;
$color--animator-title-min-hover: #ffdd4d;
$color--animator-title-min: #ffb900;
$color--animator-title: #3c3c3c;
$color--animator-wrapper: #1e1e1e;
$color--code-block-dark-blue-shadow: #569cd615;
$color--code-block-dark-blue: #569cd6;
$color--code-block-gray-shadow: #d4d4d415;
$color--code-block-gray: #d4d4d4;
$color--code-block-green-shadow: #6a995515;
$color--code-block-line-number: #888888;
$color--code-block-green: #6a9955;
$color--code-block-orange-shadow: #ce917815;
$color--code-block-orange: #ce9178;
$color--code-block-sky-blue-shadow: #9cdcfe15;
$color--code-block-sky-blue: #9cdcfe;
$color--code-block-unfocused: #333333;
$color--site-background: #18191a;
$color--site-description: #18191a;
$color--site-link: #ce9178;
$color--site-text: #d4d4d4;
$modifier--animator-scale: 3;
$modifier--animator-shrink: 1.5vmin;
$modifier--animator-title-buttons-scale: 0.425;
$modifier--code-block-code-line-height: 1.5;
$size--animator-border-radius: 0.15em;
$size--animator-border: 0.25em;
$size--animator-sidebar: 2.5em;
$size--animator-title: 2.25em;
$size--code-block-line-number-scale: 0.45;
$size--code-block-scale: 1.2em; // 1.125em
$size--code-block-spacing: 0.2;
$size--wrapper-margin: 4em;
$time--animation-speed: 10ms; // does this work?
$time--name-fade-speed: 150ms;