// updated
$animator--sidebar-color: #333333;
$animator--sidebar-width: 2.5em;
$animator--title-bar-button-size: 0.95em;
$animator--title-bar-button-hover-brightness: 20%;
$animator--title-bar-button-1-color: #0078d7;
$animator--title-bar-button-2-color: #498205;
$animator--title-bar-button-3-color: #ffb900;
$animator--title-bar-button-4-color: #de3249;
$animator--title-bar-height: 2.25em;
$animator--window-border-color: #3c3c3c;
$animator--window-border-radius: 0.15em;
$animator--window-border-size: 0.25em;
$animator--window-editor-color: #1e1e1e;
$animator--window-scale: 3em;
$webpage--background-color: #18191a;

// needs updating
$color--code-block-tag-name-shadow: #569cd615;
$color--code-block-tag-name: #569cd6;
$color--code-block-gray-shadow: #d4d4d415;
$color--code-block-gray: #d4d4d4;
$color--code-block-green-shadow: #6a995515;
$color--code-block-line-number: #888888;
$color--code-block-green: #6a9955;
$color--code-block-orange-shadow: #ce917815;
$color--code-block-orange: #ce9178;
$color--code-block-sky-blue-shadow: #9cdcfe15;
$color--code-block-sky-blue: #9cdcfe;
$color--code-block-unfocused: #333333;
$color--site-background: #18191a;
$color--site-description: #18191a;
$color--site-link: #ce9178;
$color--site-text: #d4d4d4;
$modifier--animator-shrink: 1.5vmin;
$modifier--code-block-code-line-height: 1.5;
$size--animator-border-radius: 0.15em;
$size--animator-border: 0.25em;
$size--animator-sidebar: 2.5em;
$size--animator-title: 2.25em;
$size--code-block-line-number-scale: 0.45;
$size--code-block-scale: 1.2em; // 1.125em
$size--code-block-spacing: 0.2;
$size--wrapper-margin: 4em;
$time--animation-speed: 10ms; // does this work?
$time--name-fade-speed: 150ms;