@use "../../styles/variables.module";

///////////////////////////////////////////////////////////////////////////////
// #region Placeholder Selectors                                             //
// https://sass-lang.com/documentation/style-rules/placeholder-selectors/    //
///////////////////////////////////////////////////////////////////////////////

%angle,
%block {
  border-radius: variables.$code-window-border-radius;
  margin: 0 variables.$code-line-shoulder-space;
  pointer-events: none;
}

%angle {
  border-bottom: variables.$code-block-size * 0.5 solid transparent;
  border-top: variables.$code-block-size * 0.5 solid transparent;
  transition: border-color variables.$code-block-color-transition-duration-hover;
}

%block {
  background-color: variables.$code-block-color-unfocused;
  height: variables.$code-block-size;
  transition: background-color variables.$code-block-color-transition-duration-hover;
  width: variables.$code-block-size;

  &.active {
    background-color: variables.$code-block-color-unfocused-dimmed
  }
}

///////////////////////////////////////////////////////////////////////////////
// #endregion Placeholder Selectors                                          //
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
// #region Block Styles                                                      //
///////////////////////////////////////////////////////////////////////////////

.attribute {
  @extend %block;

  &.color {
    background-color: variables.$code-block-color-attribute;
  }
}

.content {
  @extend %block;

  &.color {
    background-color: variables.$code-block-color-content;
  }
}

.indent {
  @extend %block;
  background-color: transparent;

  &.active {
    background-color: transparent;
  }
}

.operator {
  @extend %block;
  height: variables.$code-block-size * 0.5;
  margin: 0 (variables.$code-block-size * 0.25) + variables.$code-line-shoulder-space;
  width: variables.$code-block-size * 0.5;

  &.color {
    background-color: variables.$code-block-color-operator;
  }
}

.string {
  @extend %block;

  &.color {
    background-color: variables.$code-block-color-string;
  }
}

.tagName {
  @extend %block;

  &.color {
    background-color: variables.$code-block-color-tag-name;
  }
}

///////////////////////////////////////////////////////////////////////////////
// #endregion Block Styles                                                   //
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
// #region Angle Styles                                                      //
///////////////////////////////////////////////////////////////////////////////

.closeAngle {
  @extend %angle;
  border-left: 0.8 * variables.$code-block-size solid variables.$code-block-color-unfocused;
  margin-right: 0.2 * variables.$code-block-size + variables.$code-line-shoulder-space;

  &.active {
    border-left-color: variables.$code-block-color-unfocused-dimmed;
  }

  &.color {
    border-left-color: variables.$code-block-color-angle;
  }
}

.openAngle {
  @extend %angle;
  border-right: 0.8 * variables.$code-block-size solid variables.$code-block-color-unfocused;
  margin-left: 0.2 * variables.$code-block-size + variables.$code-line-shoulder-space;

  &.active {
    border-right-color: variables.$code-block-color-unfocused-dimmed;
  }

  &.color {
    border-right-color: variables.$code-block-color-angle;
  }
}

///////////////////////////////////////////////////////////////////////////////
// #endregion Angle Styles                                                   //
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
// #region Animations                                                        //
///////////////////////////////////////////////////////////////////////////////

@keyframes push {
  from {
    transform: translateY(variables.$code-line-translate-amount-click-depress);
  }

  to {
    transform: translateY(0);
  }
}

.pushed {
  animation: push .05s steps(1);
}

///////////////////////////////////////////////////////////////////////////////
// #endregion Animations                                                     //
///////////////////////////////////////////////////////////////////////////////
