html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#background {
    background-attachment: fixed;
    background-image: url("../assets/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -1;
}

/* convenience */

.avatar {
    border-color: white;
    border-radius: 100%;
    border-style: solid;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column-wrapper > div { width: 50%; }

/* align the first div item to the same margin amount */
.column-wrapper > div > *:first-child { margin-top: 0;   }
.column-wrapper > div > *:last-child  { margin-bottom: 0;}

.font-m { font-size: 1.125em; }
.gray   { color: #BEBEBE;   }

.margin-l { margin-left:  1em; }
.margin-r { margin-right: 1em; }
.margin-t { margin-top:   1em; }

.show-s { display: none; }
.spacer { display: flex; flex: 1; }

.center-v {
    display: flex; align-items: center;
}

.separator {
    align-self: center;
    background: linear-gradient(rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.33)) no-repeat center/2px 100%;
    display: flex;
    height: 57.5%;
    width: 4px;
}

.text-wrapper {
  background: rgba(24, 28, 37, .40);
  border: none;
  border-radius: 2.5px;
  box-shadow: 0px 0px 10px 0px rgba(24, 28, 37, .40);
  padding: 1em;
}

.text-wrapper a { 
    color: white;
    text-decoration: none;
}

.text-wrapper a:visited { color: #BEBEBE; }
.text-wrapper a:hover   { text-decoration: underline; }

.text-wrapper-section > .gray {
    -webkit-transition: color .05s linear;
    -ms-transition: color .05s linear;
    transition: color .05s linear;
}

.text-wrapper-section:hover > .gray { color: white; }

#landing.slide {
    min-height: 100%;
}

.slide {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 4.25em;
}

.slide-header {
    border-bottom: 2px solid #BEBEBE;
    font-size: 1.5em;
    padding-bottom: .5em;
    margin-bottom: 2em;
    text-align: center;
}

#landing      { background: linear-gradient(transparent 60%,              rgba(33, 36, 45, 0.40)); }
#overview     { background: linear-gradient(rgba(33, 36, 45, 0.40) 95%, rgba(33, 36, 45, 0.45)); }
#construction { background: linear-gradient(rgba(33, 36, 45, 0.45) 95%, rgba(33, 36, 45, 0.50)); }

#overview.slide {
    flex-direction: column;
}

#construction.slide {
    flex-direction: column;
    font-size: 1.5em;
}

/* landing */
 
#landing > .avatar { border-width: .25em; height: 22.5em; }
#landing > .column { height: 100%; }

#landing > .column > hr {
    background: white;
    border: 1px solid white;
    height: 1px;
    width: 100%;
}

#landing > .column > div:first-child,
#landing > .column > div:last-child {
    display: flex;
    flex: 1;
}

#landing-mask                        { height: 50px; overflow: hidden; }
#landing > .column > div:first-child { font-size: 5em; align-items: flex-end; }
#landing > .column > div:last-child  { font-size: 2.5em; }

#landing ul {
    list-style: none;
    margin:0;
    padding: 0;
    text-align: left;
    -webkit-animation-name: change;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* navbar */

#navbar {
    background-color: rgba(45, 49, 57, .95);
    border-bottom: 1.25px solid rgba(255, 255, 255, 0.33);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: row;
    height: 3.75em;
    padding: 0 2em;
    position: fixed;
    top: -400px;
    width: 100%;
    z-index: 1;
    transition: top .7s linear;
}

#navbar > a,
#navbar > button {
    margin-left: 0;
    margin-right: 0;
}

#navbar > button { padding-left: 1em; padding-right: 1em;  }
#navbar > a { padding-left: 1.25em; padding-right: 1.25em; }

#navbar > a              { align-items: center; }
#navbar > a:not(.show-s) { display: flex; }

/* remove children padding from navbar sides for equal sizing */
#navbar *:first-child { margin-left: 0em;  padding-left: 0em;  }
#navbar *:last-child  { margin-right: 0em; padding-right: 0em; }

#navbar a > img {
    align-items: center;
    display: flex;
    height: 2.25em;
}

#navbar .avatar {
    border-width: .15em;
    height: 5em;
    margin-top: 1em;
}

#navbar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.25em;
    height: 100%;
}

/* animations */

@-webkit-keyframes change {
    0%, 15.00%, 100% { transform: translate3d(0, 0, 0);    }
    20.00%, 35.00%   { transform: translate3d(0, -20%, 0); }
    40.00%, 55.00%   { transform: translate3d(0, -40%, 0); }
    60.00%, 75.00%   { transform: translate3d(0, -60%, 0); }
    80.00%, 95%      { transform: translate3d(0, -80%, 0); }
}

@-o-keyframes change {
    0%, 15.00%, 100% { transform: translate3d(0, 0, 0);    }
    20.00%, 35.00%   { transform: translate3d(0, -20%, 0); }
    40.00%, 55.00%   { transform: translate3d(0, -40%, 0); }
    60.00%, 75.00%   { transform: translate3d(0, -60%, 0); }
    80.00%, 95%      { transform: translate3d(0, -80%, 0); }
}

@-moz-keyframes change {
    0%, 15.00%, 100% { transform: translate3d(0, 0, 0);    }
    20.00%, 35.00%   { transform: translate3d(0, -20%, 0); }
    40.00%, 55.00%   { transform: translate3d(0, -40%, 0); }
    60.00%, 75.00%   { transform: translate3d(0, -60%, 0); }
    80.00%, 95%      { transform: translate3d(0, -80%, 0); }
}

@keyframes change {
    0%, 15.00%, 100% { transform: translate3d(0, 0, 0);    }
    20.00%, 35.00%   { transform: translate3d(0, -20%, 0); }
    40.00%, 55.00%   { transform: translate3d(0, -40%, 0); }
    60.00%, 75.00%   { transform: translate3d(0, -60%, 0); }
    80.00%, 95%      { transform: translate3d(0, -80%, 0); }
}

@media (max-width: 1200px) {
    .hide-s { display: none; }
    .show-s { display: flex; }

    .slide    { flex-direction: column; padding: 1em; }
    .margin-l { margin-left:  0; }
    .margin-r { margin-right: 0; }

    .column-wrapper { flex-direction: column; }
    .column-wrapper > div { width: 100%; }

    .column-wrapper > div > *:first-child { margin-top: 1em; }
    .column-wrapper > div > *:last-child  { margin-bottom: 1em;}

    #landing > .avatar { margin-bottom: 1em; }
    #landing > .column { height: unset; margin-top: 1em; }
    #landing > .column > div:first-child,
    #landing > .column > div:last-child {
        flex: 0;
    }

    #landing-mask,
    #landing > .column ul {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 575px) {
    .hide-xs { display: none; }
    .font-m { font-size: 1em; }

    #construction.slide { font-size: 1em; }

    .slide-header {
        font-size: 1.125em;
        margin-bottom: 1em;
    }

    #landing > .avatar                   { height: 14em; }
    #landing > .column > div:first-child { font-size: 2.5em;  }
    #landing > .column > div:last-child  { font-size: 1.25em; }
    #landing-mask                        { height: 27px; }
}

@media (max-width: 475px) {
    .hide-xxs { display: none; }

    #navbar         { padding: 0 1em; }
    #navbar .avatar { margin-top: .75em; height: 4.5em; }
}