html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#background {
    background-attachment: fixed;
    background-image: url("../assets/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -1;
}

/* --- text --- */

.gray { color: #BEBEBE; }

/* --- common --- */

.avatar {
    border-color: white;
    border-radius: 100%;
    border-style: solid;
}

/* center all children elements vertically */
.center-v { display: flex; align-items: center; }

.column-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* align first column item to the same margin amount */
.column-wrapper > div:first-child { margin-top: 0;    }
.column-wrapper > div:last-child  { margin-bottom: 0; }
.column-wrapper > div             { width: 50%;       }

/* non-mobile margin classes */
.margin-l { margin-left:  1em; }
.margin-r { margin-right: 1em; }
.margin-t { margin-top:   1em; }

/* consume space between elements */
.spacer { display: flex; flex: 1; }

.separator {
    align-self: center;
    background: linear-gradient(rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.33)) no-repeat center/2px 100%;
    display: flex;
    height: 57.5%;
    width: 4px;
}

.text-wrapper {
    background: rgba(24, 28, 37, .40);
    border: none;
    border-radius: 2.5px;
    box-shadow: 0px 0px 10px 0px rgba(24, 28, 37, .40);
    padding: 1em;
}

.text-wrapper a         { color: white; text-decoration: none; }
.text-wrapper a:visited { color: #BEBEBE; }
.text-wrapper a:hover   { text-decoration: underline; }

.text-wrapper-section > .gray {
    -webkit-transition: color .05s linear;
    -ms-transition: color .05s linear;
    transition: color .05s linear;
}

.text-wrapper-section:hover > .gray:first-child { color: white; }

/* --- slides --- */

.slide {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 4.25em;
    font-size: 1.33em;
    min-height: 100%; /* remove this to make slides fit content */
}

.slide-header {
    border-bottom: 2px solid #BEBEBE;
    font-size: 1.125em;
    padding-bottom: .5em;
    margin-bottom: 2em;
    text-align: center;
}

#landing.slide {
    background: linear-gradient(transparent 60%, rgba(33, 36, 45, 0.40));
}

#overview.slide {
    background: linear-gradient(rgba(33, 36, 45, 0.40) 95%, rgba(33, 36, 45, 0.45));
    flex-direction: column;
}

#construction.slide {
    background: linear-gradient(rgba(33, 36, 45, 0.45) 95%, rgba(33, 36, 45, 0.50));
    flex-direction: column;
    font-size: 1.5em;
}

/* --- navbar --- */

#navbar {
    background-color: rgba(45, 49, 57, .95);
    border-bottom: 1.25px solid rgba(255, 255, 255, 0.33);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: row;
    height: 3.75em;
    padding: 0 3.75em;
    position: fixed;
    top: -400px;
    width: 100%;
    z-index: 1;
    transition: top .7s linear;
}

#navbar > a { display: flex; }

#navbar > a > img {
    height: 2.25em;
    width: 2.25em;
}

/* apply even spacing between navbar items */
#navbar > *:not(.avatar) { padding: 0 .5em; }
/* apply special spacing for the navbar avatar which cannot use padding with the solid border */
#navbar > .avatar { margin: 1em .5em 0 2em; border-width: .15em; height: 4.125em; cursor: pointer; }
/* apply right margin to copy avatar size sum */
#navbar > *:last-child { margin-right: 1.5em; }

#navbar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    height: 100%;
}

/* --- landing --- */

#landing > div,
#landing > .avatar {
    height: 15em;
}

#landing > .avatar {
    border-width: .25em; 
}

#landing > div {
    display: flex;
    flex-direction: column;
}

#landing > div > hr {
    background: white;
    border: none;
    height: 0.215em;
    width: 100%;
}

#landing > div > div:first-child,
#landing > div > div:last-child {
    display: flex;
    flex: 1;
}

#landing-mask                    { height: 1.325em;   overflow: hidden;      }
#landing > div > div:first-child { font-size: 3.75em; align-items: flex-end; }
#landing > div > div:last-child  { font-size: 1.75em; }

#landing ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    -webkit-animation-name: cycle;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cycle;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* --- animations --- */

@-webkit-keyframes cycle {
    0%, 15.00%, 100% { transform: translate3d(0, 0, 0);    }
    20.00%, 35.00%   { transform: translate3d(0, -20%, 0); }
    40.00%, 55.00%   { transform: translate3d(0, -40%, 0); }
    60.00%, 75.00%   { transform: translate3d(0, -60%, 0); }
    80.00%, 95%      { transform: translate3d(0, -80%, 0); }
}

@-o-keyframes cycle {
    0%, 15.00%, 100% { transform: translate3d(0, 0, 0);    }
    20.00%, 35.00%   { transform: translate3d(0, -20%, 0); }
    40.00%, 55.00%   { transform: translate3d(0, -40%, 0); }
    60.00%, 75.00%   { transform: translate3d(0, -60%, 0); }
    80.00%, 95%      { transform: translate3d(0, -80%, 0); }
}

@-moz-keyframes cycle {
    0%, 15.00%, 100% { transform: translate3d(0, 0, 0);    }
    20.00%, 35.00%   { transform: translate3d(0, -20%, 0); }
    40.00%, 55.00%   { transform: translate3d(0, -40%, 0); }
    60.00%, 75.00%   { transform: translate3d(0, -60%, 0); }
    80.00%, 95%      { transform: translate3d(0, -80%, 0); }
}

@keyframes cycle {
    0%, 15.00%, 100% { transform: translate3d(0, 0, 0);    }
    20.00%, 35.00%   { transform: translate3d(0, -20%, 0); }
    40.00%, 55.00%   { transform: translate3d(0, -40%, 0); }
    60.00%, 75.00%   { transform: translate3d(0, -60%, 0); }
    80.00%, 95%      { transform: translate3d(0, -80%, 0); }
}

/* --- responsive layouts --- */

/* style rules:
 * layout will scale by changing layout font-weight
 * navbar padding shall equal (slide padding ÷ 2.2)
 */

/* larger portrait screens need larger page items */
@media (min-height: 1600px) and (min-width: 900px) {
    #landing.slide       { font-size: 1.65em; }
    .slide:not(#landing) { font-size: 1.45em; }
}

@media (max-width: 1780px) {
    .slide {
        font-size: 1.25em;
        padding: 2.75em;
    }

    #navbar {
        padding: 0 1.5em;
    }
}

/* enable portrait layout */
/* ! portrait code only ! */
@media (max-width: 1300px) {
    .slide { flex-direction: column; }

    .margin-l { margin-left:  0; }
    .margin-r { margin-right: 0; }

    .column-wrapper { flex-direction: column; }
    .column-wrapper > div { width: 100%; }
    .column-wrapper > div > *:first-child { margin-top: 1em; }
    .column-wrapper > div > *:last-child  { margin-bottom: 1em;}

    #landing > .avatar { margin-bottom: 1em; }
    
    #landing > div {
        height: unset;
        margin-top: 1em;
    }

    #landing > div > div:first-child {
        flex: 0;
        font-size: 2.5em;
    }

    #landing > div > div:last-child {
        flex: 0;
        font-size: 1.25em;
    }

    #landing-mask, #landing > div ul {
        text-align: center;
        width: 100%;
    }
}

/* non-portrait code here */
@media (max-width: 1300px) {
}

/* tablet device layout  */
@media (max-width: 800px) {
    .slide  { padding: 2.25em; }
    #navbar { padding: 0 1em;  }  

    #navbar > ul { display: none; }
    .separator   { display: none; }
}

@media (max-width: 475px) {
    #navbar > button { display: none; }
}

/* phone device layout   */
@media (max-width: 550px) {
    .slide-header {
        border: none;
        font-size: 1em;
        padding-bottom: 0;
        margin-bottom: 20px;
        text-align: start;
    }
}

@media (max-width: 550px), (max-height: 480px) {
    .slide { 
        font-size: 1em;
        padding: 1.5em;
    }

    #landing > .avatar               { height: 12.5em; }
    #landing > div > div:first-child { font-size: 2em; }
    #landing > div > div:last-child  { font-size: 1.125em; }

    #navbar { padding: 0 .5em; }

    #navbar > .avatar { margin: 1em .5em 0 1.25em; }

    #navbar > *:last-child { 
        margin-right: .75em;
        padding-right: .5em;
    }

    #construction.slide { font-size: 1.25em; }
}
